<div class="m-3 p-2">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Gestión</th>
            </tr>
        </thead>
        <tbody>
            {{#each usuarios}}
            <tr>
                <td>{{id}}</td>
                <td>{{username}}</td>
                <td>{{email}}</td>
                <td>
                    <form action="/links/deleteUser/{{id}}" class="ActionForm">
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"
                                aria-hidden="true"></i></button>
                    </form>
                </td>
            </tr>
            {{else}}
            <h4>No hay Usuarios registrados</h4>
            {{/each}}
        </tbody>
    </table>
</div>
<script>
    $('.ActionForm').submit(function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Confirmación',
            text: "¿De verdad quieres Eliminar este usuario",
            icon: 'info',
            showCancelButton: true,
            confirmButtonColor: '#c51162',
            cancelButtonText: 'No, Eliminar',
            confirmButtonText: 'Si, Eliminar',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                this.submit();
            }
        })
    });
</script>