<div class="containerBoton">
    <div class="btn-mas">
        <a href="javascript: history.go(-1)" style="text-decoration:none" ;><label
                class="fas fa-arrow-left"></label></a>
    </div>
</div>
<div class="container p-4">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Te han pagado la suma de: <strong><total id="precio"></total></strong> pesos.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <table class="table table-xs-responsive table-hover table-dark table-striped"
        summary="An example of a responsive table using Bootstrap breakpoints." aria-role="table" id="productos">
        <h1 class="text-center">Recolecciones Entregadas</h1>
        <caption class="text-center">Esta tabla te muestra las recolecciones que te han recogido.
        </caption>
        <thead>
            <tr>
                <th>Horario</th>
                <th>Fecha</th>
                <th>material</th>
                <th>Encargado</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Estrellas</th>
            </tr>
        </thead>
        <tbody>
            {{#each recolecciones}}
            <tr class="success">
                <td>{{horario}}</td>
                <td>{{fecha}}</td>
                <td>{{material}}</td>
                <td>{{encargado}}</td>
                <td>{{cantidad}}</td>
                <td>{{precioRecolector}}</td>
                <td>{{estrellas}}<estrella style="color: #ffc107;">★</estrella>
                </td>
            </tr>
            {{else}}
            <h4>No tienes Recolecciones realizadas</h4>
            {{/each}}
        </tbody>
    </table>
</div>
<script>
    var total = 0;
    //selector &gt;&gt;  $("#GridView1 tr").find('td:eq(1)')
    //De esta manera utilizando eq seleccionamos la segunda fila, ya que la primera es 0
    $("#productos tr").find('td:eq(5)').each(function () {
        //obtenemos el valor de la celda
        valor = $(this).html();
        //sumamos, recordar parsear, si no se concatenara.
        total += parseInt(valor)
    })
    //mostramos el total
    console.log(total)
    document.getElementById("precio").innerHTML = total;
</script>